.form-control input:is(:focus, :valid) ~ label {
  font-size: 0.67rem;
  transform: translateY(-110%);
  /* color: rgb(108, 61, 201); */
}
.form-control input:is(:focus, :valid) {
  padding: 16px 20px 0;
}
